test

<body>
   {% for rows in row %}
     <p>Hello, {{ row }}!</p><br>
   {% endfor %}


<table>
 <thead>
   <tr>
     <th>order_id</th>
     <th>recipient_name</th>
     <th>ship_address_1</th>
     <th>ship_address_2</th>
     <th>ship_address_3</th>
     <th>ship_postal_code</th>
     <th>ship_city</th>
   </tr>
 </thead>

 <tbody>
   {% for row in value %}
     <tr>
       <td>{{row[0]}}</td>
       <td>{{row[1]}}</td>
       <td>{{row[2]}}</td>
       <td>{{row[3]}}</td>
       <td>{{row[4]}}</td>
       <td>{{row[5]}}</td>
       <td>{{row[6]}}</td>
       <td>{{row[7]}}</td>
       <td>{{row[7]}}</td>
     </tr>
   {% endfor %}
 </tbody>
</table>


</body>
